.div-flex-justify-align-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.background-pretty {
    background-image: url("../assets/background.jpg");
    background-size: cover;
    height: 100vh;
}

.square {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.705);
    width: 400px;
    height: 350px;
}

.square > h1 {
    font-weight: 500;
}

.square > p {
    font-size: 10px;
}

.button-rounded {
    background-color: #FFA07A;
    border: none;
    height: 40px;
    width: 110px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: white;
    
}

.button-rounded:hover {
    color: black;
    cursor: pointer;
    background-color: #ff8454;
}

.white-background {
    background-color: white;
    padding: 5px;
}